[build]
  functions = "netlify/functions"
  publish = "."
  command = ""

[functions]
  node_bundler = "esbuild"
  external_node_modules = []

[[redirects]]
  from = "/proxy"
  to = "/.netlify/functions/proxy"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
